---
import BaseLayout from '@/layouts/BaseLayout'
import PageHeader from '@/components/PageHeader'
import { getCollection } from 'astro:content'

const title = 'Quotes'
const description = 'Inspiring words. Beautifully expressed.'
const quotes = await getCollection('quotes')
---

<BaseLayout title="Quotes">
  <PageHeader title={title} description={description} />
  <div class="mb-6 grid w-full grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
    {
      quotes.map(async (q) => {
        return (
          <div class="border">
            <a href={`/quotes/${q.id}`}>
              <p class="p-6">{q.data.quote}</p>
            </a>
          </div>
        )
      })
    }
  </div>
</BaseLayout>
