---
import BaseLayout from '../layouts/BaseLayout.astro'
import PageHeader from '@/components/PageHeader'
import ArchiveList from '@/components/ArchiveList'
import { getPosts } from '@/utils'

const MAX_POSTS = 999 // max number of posts
const posts = await getPosts(MAX_POSTS)
const title = 'Archive'
const description =
  "Here's all my posts in chronological order. I hope you find something interesting and relevant. Cheers!"
---

<BaseLayout>
  <div class="container mx-auto mt-6 p-4 md:mt-12 md:p-6">
    <PageHeader title={title} description={description} />
    <ArchiveList posts={posts} />
  </div>
</BaseLayout>
