---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getPosts2 } from '@/utils'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts2(MAX_POSTS)
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-3xl">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</BaseLayout>

