---
// https://github.com/surjithctly/astro-navbar
import {
  Astronav,
  MenuItems,
  MenuIcon,
  //   Dropdown,
  //   DropdownItems,
} from 'astro-navbar'
import HeaderLink from './HeaderLink.astro'
import { siteConfig } from '@/site-config'
import { Image } from 'astro:assets'
import dan from '../../public/img/dan.avif'
---

<div class="container mx-auto">
  <header class="gap-5 p-5 lg:flex">
    <Astronav>
      <div class="flex w-full justify-between">
        <a aria-label="Home" class="relative mr-2 h-8 w-8" href="/">
          <Image
            src={dan}
            alt="Dan Stroot Headshot"
            class="overflow-hidden rounded-full object-cover duration-300 ease-in-out hover:opacity-[85%]"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="h-4 w-4 text-gray-800 dark:text-gray-100" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <ul class="flex flex-col lg:flex-row lg:gap-5">
          {
            siteConfig.mainNav.map((item) => (
              <li>
                <HeaderLink
                  class="hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground bg-accent block select-none space-y-1 rounded-full px-5 py-2 leading-none no-underline outline-none transition-colors"
                  href={item.href}
                >
                  {item.name}
                </HeaderLink>
              </li>
            ))
          }
        </ul>
      </MenuItems>
      <MenuItems class="hidden lg:flex">
        <nav class="flex items-center space-x-2">
          <a
            aria-label="Search"
            class="hover:bg-accent hover:text-accent-foreground focus-visible:ring-ring relative inline-flex h-8 w-8 items-center justify-center rounded-md bg-transparent p-0 transition-colors focus-visible:ring-1"
            href="/search"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6"
              ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
              ></path></svg
            ></a
          ><button
            class="ring-offset-background focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground inline-flex h-8 w-8 items-center justify-center rounded-md p-0 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0 disabled:pointer-events-none disabled:opacity-50"
            type="button"
            id="radix-:r4:"
            aria-haspopup="menu"
            aria-expanded="false"
            data-state="closed"
            ><svg
              role="img"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6"
              ><circle cx="12" cy="12" r="4"></circle><path d="M12 3v1"
              ></path><path d="M12 20v1"></path><path d="M3 12h1"></path><path
                d="M20 12h1"></path><path d="m18.364 5.636-.707.707"
              ></path><path d="m6.343 17.657-.707.707"></path><path
                d="m5.636 5.636.707.707"></path><path d="m17.657 17.657.707.707"
              ></path></svg
            ><span class="sr-only">Toggle theme</span></button
          >
        </nav>
      </MenuItems>
    </Astronav>
  </header>
</div>
