<header
  class="sticky top-0 z-40 mx-auto w-full flex-none border-b border-gray-50/0 transition-[opacity] ease-in-out"
  data-aw-sticky-header=""
  id="header"
>
  <div class="absolute inset-0"></div><div
    class="text-default relative mx-auto w-full max-w-7xl px-3 py-3 md:grid md:grid-cols-3 md:items-center md:px-6"
  >
    <div class="flex justify-between">
      <a href="/" class="flex items-center"
        ><span
          class="ml-2 self-center whitespace-nowrap text-2xl font-bold text-gray-900 dark:text-white md:text-xl rtl:ml-0 rtl:mr-2"
          >🚀 AstroWind</span
        ></a
      ><div class="flex items-center md:hidden">
        <button
          class="group flex h-12 w-12 cursor-pointer flex-col items-center justify-center rounded"
          aria-label="Toggle Menu"
          data-aw-toggle-menu=""
          ><span class="sr-only">Toggle Menu</span>
          <span
            class="ease my-1 h-0.5 w-6 transform rounded-full bg-black opacity-80 transition duration-200 group-[.expanded]:translate-y-2.5 group-[.expanded]:rotate-45 dark:bg-white"
            aria-hidden="true"></span>
          <span
            class="ease my-1 h-0.5 w-6 transform rounded-full bg-black opacity-80 transition duration-200 group-[.expanded]:opacity-0 dark:bg-white"
            aria-hidden="true"></span>
          <span
            class="ease my-1 h-0.5 w-6 transform rounded-full bg-black opacity-80 transition duration-200 group-[.expanded]:-translate-y-2.5 group-[.expanded]:-rotate-45 dark:bg-white"
            aria-hidden="true"></span></button>
      </div>
    </div><nav
      aria-label="Main navigation"
      class="text-default hidden w-full items-center overflow-y-auto overflow-x-hidden md:mx-5 md:flex md:w-auto md:justify-self-center md:overflow-x-auto md:overflow-y-visible"
    >
      <ul
        class="flex w-full flex-col text-xl font-medium tracking-[0.01rem] md:w-auto md:flex-row md:justify-center md:self-center md:text-[0.9375rem]"
      >
        <li class="dropdown">
          <button
            class="hover:text-link flex items-center px-4 py-3 dark:hover:text-white"
            >Homes <svg
              class="ml-0.5 hidden h-3.5 w-3.5 md:inline rtl:ml-0 rtl:mr-0.5"
              data-icon="tabler:chevron-down"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"
              ><symbol id="ai:tabler:chevron-down"
                ><path
                  d="m6 9l6 6l6-6"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path></symbol
              ><use xlink:href="#ai:tabler:chevron-down"></use></svg
            ></button
          ><ul
            class="dark:md:bg-dark dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md"
          >
            <li>
              <a
                href="/homes/saas"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >SaaS</a>
            </li><li>
              <a
                href="/homes/startup"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Startup</a>
            </li><li>
              <a
                href="/homes/mobile-app"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Mobile App</a>
            </li><li>
              <a
                href="/homes/personal"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Personal</a>
            </li>
          </ul>
        </li><li class="dropdown">
          <button
            class="hover:text-link flex items-center px-4 py-3 dark:hover:text-white"
            >Pages <svg
              class="ml-0.5 hidden h-3.5 w-3.5 md:inline rtl:ml-0 rtl:mr-0.5"
              data-icon="tabler:chevron-down"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"><use xlink:href="#ai:tabler:chevron-down"></use></svg
            ></button
          ><ul
            class="dark:md:bg-dark dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md"
          >
            <li>
              <a
                href="/#features"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Features (Anchor Link)</a>
            </li><li>
              <a
                href="/services"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Services</a>
            </li><li>
              <a
                href="/pricing"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Pricing</a>
            </li><li>
              <a
                href="/about"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >About us</a>
            </li><li>
              <a
                href="/contact"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Contact</a>
            </li><li>
              <a
                href="/terms"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Terms</a>
            </li><li>
              <a
                href="/privacy"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Privacy policy</a>
            </li>
          </ul>
        </li><li class="dropdown">
          <button
            class="hover:text-link flex items-center px-4 py-3 dark:hover:text-white"
            >Landing <svg
              class="ml-0.5 hidden h-3.5 w-3.5 md:inline rtl:ml-0 rtl:mr-0.5"
              data-icon="tabler:chevron-down"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"><use xlink:href="#ai:tabler:chevron-down"></use></svg
            ></button
          ><ul
            class="dark:md:bg-dark dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md"
          >
            <li>
              <a
                href="/landing/lead-generation"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Lead Generation</a>
            </li><li>
              <a
                href="/landing/sales"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Long-form Sales</a>
            </li><li>
              <a
                href="/landing/click-through"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Click-Through</a>
            </li><li>
              <a
                href="/landing/product"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Product Details (or Services)</a>
            </li><li>
              <a
                href="/landing/pre-launch"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Coming Soon or Pre-Launch</a>
            </li><li>
              <a
                href="/landing/subscription"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Subscription</a>
            </li>
          </ul>
        </li><li class="dropdown">
          <button
            class="hover:text-link flex items-center px-4 py-3 dark:hover:text-white"
            >Blog <svg
              class="ml-0.5 hidden h-3.5 w-3.5 md:inline rtl:ml-0 rtl:mr-0.5"
              data-icon="tabler:chevron-down"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"><use xlink:href="#ai:tabler:chevron-down"></use></svg
            ></button
          ><ul
            class="dark:md:bg-dark dropdown-menu rounded pl-4 font-medium drop-shadow-xl md:absolute md:hidden md:min-w-[200px] md:bg-white/90 md:pl-0 md:backdrop-blur-md"
          >
            <li>
              <a
                href="/blog"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Blog List</a>
            </li><li>
              <a
                href="/get-started-website-with-astro-tailwind-css"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Article</a>
            </li><li>
              <a
                href="/markdown-elements-demo-post"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Article (with MDX)</a>
            </li><li>
              <a
                href="/category/tutorials"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Category Page</a>
            </li><li>
              <a
                href="/tag/astro"
                class="hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-gray-100"
                >Tag Page</a>
            </li>
          </ul>
        </li><li class="">
          <a
            href="#"
            class="hover:text-link flex items-center px-4 py-3 dark:hover:text-white"
            >Widgets</a>
        </li>
      </ul>
    </nav><div
      class="fixed bottom-0 left-0 hidden w-full items-center justify-end p-3 md:static md:mb-0 md:flex md:w-auto md:self-center md:justify-self-end md:p-0 rtl:left-auto rtl:right-0"
    >
      <div class="flex w-full items-center justify-between md:w-auto">
        <div class="flex">
          <button
            class="text-muted inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            aria-label="Toggle between Dark and Light mode"
            data-aw-toggle-color-scheme=""
            type="button"
            ><svg
              class="h-6 w-6 md:inline-block md:h-5 md:w-5"
              data-icon="tabler:sun"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"
              ><symbol id="ai:tabler:sun"
                ><path
                  d="M8 12a4 4 0 1 0 8 0a4 4 0 1 0-8 0m-5 0h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7l-.7.7m0 11.4l.7.7m-12.1-.7l-.7.7"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path></symbol
              ><use xlink:href="#ai:tabler:sun"></use></svg
            ></button
          >
          <a
            href="/rss.xml"
            class="text-muted inline-flex items-center rounded-lg p-2.5 text-sm hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            aria-label="RSS Feed"
            ><svg
              class="h-5 w-5"
              data-icon="tabler:rss"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"
              ><symbol id="ai:tabler:rss"
                ><path
                  d="M4 19a1 1 0 1 0 2 0a1 1 0 1 0-2 0M4 4a16 16 0 0 1 16 16M4 11a9 9 0 0 1 9 9"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path></symbol
              ><use xlink:href="#ai:tabler:rss"></use></svg
            ></a>
        </div><span class="ml-4 rtl:ml-0 rtl:mr-4"
          ><a
            href="https://github.com/onwidget/astrowind"
            class="btn-secondary px-5.5 ml-2 w-auto py-2.5 text-sm font-semibold shadow-none md:px-6"
            rel="noopener noreferrer"
            target="_blank">Download</a
          ></span>
      </div>
    </div>
  </div>
</header>
