---
import BaseLayout from '@/layouts/BaseLayout'
import PageHeader from '@/components/PageHeader'
import SnippetCard from '@/components/SnippetCard'
import { getCollection } from 'astro:content'

const title = 'Snippets'
const description = 'Short solutions to discrete problems.'
const snippets = await getCollection('snippets')
---

<BaseLayout title="Welcome to Astro.">
  <PageHeader title={title} description={description} />
  <div class="mb-6 grid w-full grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
    {
      snippets.map(async (snippet) => {
        return <SnippetCard slug={snippet.slug} data={snippet.data} />
      })
    }
  </div>
</BaseLayout>
