---
import { Image } from 'astro:assets';
const props = Astro.props
const isInternalImage = props.src && props.src.startsWith('/')
---

{ isInternalImage ? (
      <div class="relative aspect-[2/1]">
        <Image
          src={`https://danstroot.imgix.net${props.src}`}
          alt={props.alt}
          densities={[1.5, 2]}
					width={1000}
					height={500}
					// quality={100}
          class='rounded-md w-full max-h-[300px]  md:max-h-[500px] my-8 object-cover'
        />
      </div>
    ) : (
      <div class="relative aspect-[2/1]">
        <img
          class="max-h-[384px]"
          src={props.src + '?w=768'}
          alt={props.alt}
          loading="lazy"
        />
      </div>
    )
}

