---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import AirNavBar from '@/components/AirNavBar'
import NewNavBar from '@/components/NewNavBar'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'

const { title, description, image, articleDate } = Astro.props
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />
    <ProviderTheme />
    <ProviderAnimations />
  </head>

  <body
    class="bg-white text-stone-950 antialiased dark:bg-[#0a0910] dark:text-white"
  >
    <main class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
      <!-- <Header /> -->
      <!-- <AirNavBar /> -->
      <NewNavBar />
      <div class="container mx-auto mt-6 p-4 md:mt-12 md:p-6">
        <slot />
      </div>
      <Footer />
    </main>
    <TwSizeIndicator />
  </body>
</html>
